In [10]:
import pandas as pd

df = pd.read_csv("vagon_price_stat_2014.csv")

In [11]:
df.head()

  tipvg  price  count
0     К      0  40818
1     К      5    145
2     К      7    280
3     К      8    183
4     К     11     15

In [13]:
df['Value'] = df.price + df.count

TypeError: unsupported operand type(s) for +: 'int' and 'instancemethod'

In [14]:
 df.groupby(['tipvg']).sum()

        price     count
tipvg
К      461924  10026516
Л      678879    561668
М       61781     17268
О        4329    713429
П      205371  20006594
С      360065  11156839